@import "src/assets/scss/var-mixins";

.filter-container {
    position: absolute;
    z-index: 500;
    min-width: 23rem;
    left: 7%;
}

@include mq-max(small) {
    .filter-container {
        left: 17%;
    }
}

@include mq-min-max(small, medium) {
    .filter-container {
        left: 10%;
    }
}