@import "src/assets/scss/var-mixins";

.cities-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;

    nz-form-item {
        width: 100%;
    }

    &__city {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &--filter {
        width: 40rem;
    }
}

::ng-deep {
    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
        height: 100%;
    }
}

@include mq-max(large) {
    .cities-container {
        display: block;

        &--filter {
            width: 100%;
        }

        &__deparment {
            display: flex;
            flex-direction: column;
        }
    }
}