<div class="article-card" [ngStyle]="{'background-color': color}">
    <img class="article-card__img" [src]="'http://localhost:3800/' + article?.images[0]?.url.replace('\\', '/')" alt="">
    <div class="article-card__description">
        <span class="article-card__description__icon" nz-icon nzType="edit" nzTheme="outline"
            (click)="editBranchOffice(article)"></span>
        <span class="article-card__description__title">{{article.title}}</span>
        <p class="article-card__description__paragraph">{{article.content}}</p>
    </div>
</div>