@import "src/assets/scss/var-mixins";

::ng-deep {
    .ant-table-column-sorter {
        color: white;
    }

    @include mq-max(medium) {
        .ant-table {
            background-color: transparent;
        }
    }
}

tr {
    border-radius: 3rem;

    th {
        height: 5rem;
        padding: 1rem;
        background-color: #0581ae;
        color: white;
    }
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 13rem;
    height: 5rem;
    padding: 1rem;
}

.order-card {
    width: 100%;
    border: 0.1rem solid #ccc;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: white;
    position: relative;

    &__actions {
        position: absolute;
        right: 0;
        top: 0.6rem;
    }
}