<nz-table [nzShowPagination]="false" [nzData]="listOfData | async">
    <ng-container *ngIf="isLargeScreenWidth; else isLarge ">
        <div class="order-card"
            *ngFor="let data of (listOfData | async) | paginate: { itemsPerPage: 10, currentPage: p }">
            <div *ngFor="let column of listOfColumn">
                <strong>{{ column.title }} : </strong>
                {{ data[column.name] }}
            </div>
            <div class="order-card__actions">
                <ng-container *ngFor="let action of actions">
                    <span class="u-pointer font-20 mg-x-5" *ngIf="action.show" nzTooltipTitle="{{action.tooltipText}}"
                        nzTooltipPlacement="bottomLeft" nz-tooltip nz-icon nzType="{{action.icon}}"
                        (click)="sendEventItem(action.type,data)"></span>
                </ng-container>
            </div>
        </div>
    </ng-container>
</nz-table>
<ng-template #isLarge>
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn">
                {{ column.title }}
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of (listOfData | async) | paginate: { itemsPerPage: 10, currentPage: p }">
            <td *ngFor="let object of objectKeys" title="{{data[object]}}">
                {{ data[object] }}
            </td>
            <td>
                <div class="justify-content-space-around">
                    <ng-container *ngFor="let action of actions">
                        <span class="u-pointer font-20" *ngIf="action.show" nzTooltipTitle="{{action.tooltipText}}"
                            nzTooltipPlacement="bottomLeft" nz-tooltip nz-icon nzType="{{action.icon}}"
                            (click)="sendEventItem(action.type,data)"></span>
                    </ng-container>
                </div>
            </td>
        </tr>
    </tbody>
</ng-template>
<div class="mg-y-10 justify-content-center">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
</div>