.order-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 30rem;
    height: 7rem;
    background-color: red;
    border-radius: 0.5rem;
    border: solid 0.1rem #e9eaed;
    padding: 0.5rem 5rem 0.5rem 2rem;
    text-align: left;
    color: white;

    &__sucursal {
        font-size: 1.2rem;
        line-height: 1.08;
    }

    &__icon {
        position: absolute;
        right: 1rem;
        font-size: 1.6rem;
    }
}