    <div class="orders-container">
        <app-oders-list [list]="listNumber1" [id]="'ln1'" [connectedTo]="'ln2'">
            <ng-container title>Recibida</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber2" [id]="'ln2'" [connectedTo]="'ln3'">
            <ng-container title>Emitida</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Enviada</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Asignada</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Picking</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Facturada</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Entregada</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Finalizados</ng-container>
        </app-oders-list>
        <app-oders-list [list]="listNumber3" [id]="'ln3'" [connectedTo]="'ln4'">
            <ng-container title>Canceladas</ng-container>
        </app-oders-list>
    </div>
