<nz-layout>
  <nz-header class="nz-header">
    <!-- <div class="nz-header__logo" [routerLink]="'start-view'"></div> -->
    <div class="nz-header__logo nz-header__logo--desktop hide-down--md"></div>
    <div class="nz-header__logo nz-header__logo--mobile hide-up--md"></div>
    <span class="nz-header__trigger" (click)="isCollapsed = !isCollapsed" *ngIf="showDrawerRef">
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </span>
    <div class="nz-header__avatar">
      <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
      <button nz-button nz-dropdown [nzDropdownMenu]="notifications" nzPlacement="bottomRight">
        <span nz-icon [nzType]="'bell'"></span>
      </button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
        <span nz-icon [nzType]="'down'"></span>
      </button>
    </div>
    <nz-dropdown-menu #notifications="nzDropdownMenu">
      <app-order-notification></app-order-notification>
    </nz-dropdown-menu>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item [routerLink]="'business'">
          <span nz-icon nzType="home" class="mg-x-5"></span>
          Tus negocios
        </li>
        <li nz-menu-item [routerLink]="'setting'">
          <span nz-icon nzType="tool" class="mg-x-5"></span>
          Configuración
        </li>
        <li nz-menu-item (click)="logout()">
          <span nz-icon nzType="logout" class="mg-x-5"></span>
          Cerrar sesión
        </li>
      </ul>
    </nz-dropdown-menu>
    <div class="nz-header__progress-bar" *ngIf="_loadingService.loading$ | async">
      <nz-progress [nzShowInfo]="false" [nzPercent]="100" nzStatus="active"></nz-progress>
    </div>
  </nz-header>
  <nz-layout class="layout-content">
    <nz-sider *ngIf="showDrawerRef" class="menu-sidebar" nzCollapsible nzWidth="250px" nzBreakpoint="xl"
      [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="menu-sidebar__logo-container" [ngStyle]="{'display': ( isCollapsed ? 'none' : 'flex')}">
        <div class="menu-sidebar__logo-container__logo">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        </div>
        <p>
          <ng-container *ngIf="business$ | async as businessSelected">
            {{businessSelected.name}}
          </ng-container>
          <br>
          <span>Rol del usuario</span>
        </p>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item *ngFor="let option of menuOptions" [routerLink]="option.route">
          <span nz-icon nzType="{{option.icon}}"></span>
          <span>{{option.label}}</span>
        </li>
      </ul>
    </nz-sider>
    <nz-content class="content"
      [ngStyle]="{'padding-left': ((isCollapsed && showDrawerRef) ? '8rem' : '') || (( !showDrawerRef) ? '0rem' : '25rem') } ">
      <app-spinner></app-spinner>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>