<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-container">
            <span class=" font-30">
                Pedidos
            </span>
            <app-button [title]="'Crear pedido'" [customClasses]="'second-btn mg-x-15'" [isLoading]="false"
                [subfixIcon]="'plus'" (click)="createOrder()"></app-button>
        </div>
    </div>
    <div class="row mg-y-20">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-container subtitle-container">
            <span class=" u-bold font-16">
                Gestiona tus pedidos
            </span>
        </div>
    </div>
    <div class="row mg-y-30">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="filter" [formGroup]="filterForm">
                <nz-form-item>
                    <nz-select nzAllowClear formControlName="branchOffice" nzPlaceHolder="Seleccione una sucursal">
                        <nz-option nzLabel="Listar todas las ordenes"></nz-option>
                        <nz-option *ngFor="let branchOffice of branchOfficeList$ | async"
                            nzLabel="{{branchOffice.name}}" nzValue="{{branchOffice.id}}"></nz-option>
                    </nz-select>
                </nz-form-item>
                <app-cities-select [isFilter]="true" [parentForm]="filterForm"
                    [customClasses]="'cities-container--filter'"></app-cities-select>
                <nz-range-picker formControlName="date"></nz-range-picker>
            </form>
            <app-table [objectKeys]="orderModelList" [isShowItem]="true" [isCancelable]="true"
                [listOfColumn]="listOfColumn" [listOfData]="listOfData$ | async"
                (sendItem)="getTableActions($event)"></app-table>
        </div>
    </div>
</div>