@import "src/assets/scss/var-mixins";

.filter {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@include mq-max(large) {
    .filter {
        flex-direction: column;

        nz-select {
            width: 100%;
        }
    }
}

nz-range-picker{
    height: 5rem;
}