<div class="searcher">
    <nz-input-group [nzPrefix]="prefixIconSearch">
        <input #searchText type="text" nz-input placeholder="{{placeHolder}}" (input)="search(searchText.value)" />
    </nz-input-group>
    <ng-template #prefixIconSearch>
        <span class="color-blue-armi" nz-icon nzType="search"></span>
    </ng-template>
</div>
<!-- <div class="d-inline-block">
    <app-button [title]="'Buscar'" [customClasses]="'second-btn mg-x-15 pdd-x-15 font-16'" [isLoading]="false"
        (click)="search(searchText.value)"></app-button>
</div> -->