@import "src/assets/scss/var-mixins";

input {
    height: auto;
}

.searcher {
    display: inline-block;
}

@include mq-max(small) {
    .searcher {
        width: 100%;
        margin-bottom: 1rem;
    }
}