.map-container {
    position: relative;
    width: 100%;

    #viewport-map {
        width: 100%;
        min-height: 25rem;
        transition: all 0.5s ease;
        height: calc(100vh - 55rem);
        z-index: 0;
    }

}

.h-100{
    height: 90vh !important;
}

.adress-warning-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(241, 221, 141);
    line-height: 1;
    padding: 0.5rem;
    width: 100%;

    &__icon {
        margin-right: 0.5rem;
    }
}